* {
  margin: 0;
}

html {
  background-color: rgb(117, 145, 70);
}

.bar {
  width: 100%;
  height: 15%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  backdrop-filter: blur(6px);
  z-index: 1;
}

.logo {
  width: 300px;
}

.bar .bar_menu a {
  text-decoration: none;
  margin: 5px;
  color: white;
}

.background img{
  width: 100%;
  height: 550px;
}

.background video{
  width: 100%;
  height: 650px;
}

.text-fouter{
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-fouter-1{
  margin-bottom: 10px;
}
.cont{
  display: flex;
  justify-content: center;
}
.content {
align-items: center;
border-radius: 30px;
background: rgb(235, 255, 199);
width: 65%;
height: max-content;
font-size: 22px;
padding: 30px 55px;
margin-top: -180px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content h2{
  text-align: center;
  padding: 20px;

}

.title {
  text-align: center;
  padding: 20px;

}

.navigat {
  background-color: rgb(117, 145, 70);
  width: max-content;
  margin: auto;
  border-radius: 10px;
  color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigat p{
  text-align: center;
}

.navigat a{
  text-decoration: none;
  color: white;
}

.imageamazon{
  margin-top: 30px;
  display: flex;
  width: 400px;
  height: 400px;
}

.imageamazon img{
  margin: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-swipe img{
  width: 231px;
height: 268px;
margin: 20px 30px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titre{
  display: flex;
  text-align: center;
  padding-bottom: 22px;
}
.titre a{
  text-decoration: none;
  color: black;
  margin: 0px 81px;
}

.swipe{
  text-align: center;
  background: rgb(235, 255, 199);
  background-size: auto;
  margin: 20px;
  border-radius: 20px;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title1{
   text-align: left;
}

.flag {
  width: 150px;
}

.title-flag{
  display: flex;
}

.shope {
  text-align: center;
  background: rgb(235, 255, 199);
  background-size: auto;
  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
  padding-top: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-shope img{
  width: 231px;
height: 268px;
margin: 20px 30px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}